.form-container {
    background-color: rgb(246, 242, 242); /* Fondo blanco */
    padding: 20px; /* Relleno interno */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 20px; /* Margen inferior */
}

.player-cards {
    display: flex; /* Flexbox para organizar tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
    gap: 10px; /* Espacio entre tarjetas */
}
