.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.sidebar-footer { margin-top: auto; /* Empuja el footer hacia la parte inferior */ 
  margin-bottom: 40px; /* Añade un poco de espacio desde el borde inferior */
}

.sidebar-content {
  flex: 1;
  overflow-y: auto; /* Hacer que esta sección sea desplazable */
}

.sidebar ul {
  list-style-type: none; padding: 0; 
  padding: 0;
  margin: 0; /* Asegúrate de que no haya margen para el ul */
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}


.sidebar ul li { 
  text-align: left; /* Alinear el texto a la izquierda */ 
  font-size: 18px; /* Ajustar el tamaño de la letra */ 
  padding: 10px 0; cursor: 
  pointer; transition: background-color 0.3s; 
  padding-left: 10px;
} 

.sidebar ul li:hover { 
  background-color: rgba(47, 79, 79, 0.3); /* Añadir un efecto al pasar el ratón */
}

.sidebar-footer {
  padding: 10px;
  background-color: rgba(155, 19, 19, 0); /* Puedes ajustar el estilo según tus necesidades */
  position: sticky;
  bottom: 0;
  z-index: 1000; /* Asegúrate de que esté sobre el contenido desplazable */
}

.sidebar-footer button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.sidebar-footer button:hover {
  background-color: #0056b3;
}

.sidebar ul ul {
  margin-left: 20px;
  list-style-type: circle;
}

.sidebar ul ul li {
  padding: 5px 0;
}

.sidebar li {
  cursor: pointer;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.sidebar li:hover {
  background-color: #f0f0f0;
}